*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    -webkit-font-smothing:antialised;
    scroll-behavior: smooth;
}
body{
     font-family:'poppins';
}
header{
    background:#03001C;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 90%,0 100%);
}
header nav{
    padding:10px;
}
.branding{
    margin:2rem;
}
.first{
    MAX-WIDTH:1152px;
    padding:0 15px;
    margin:0 240px;
}
.left a{
    color:white;
    text-decoration:none;
    margin-right:20px; 
}
.left a:hover{
    color:rgb(140, 177, 237);
}
.flex{
    display:flex;
}
.items{
    align-items:center;
}
.space{
    justify-content: space-between;
}
.HEADER1{
    padding:0.8rem 2rem;
    font-size: 1 rem;
    font-weight:600;
    border:2px solid ;
    cursor: pointer;
}
#para1{
 color:beige;   
}
h6{
    font-size:20px; 
    COLOR:#B6EADA;
    margin-bottom :10px;
}
H1{
    font-size:30PX;
    color: beige;
    font-weight: 100;
    text-decoration: underline;
    margin-bottom: 10PX;
}
P{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.header3{
    padding:0.8rem 2rem;
    font-size: 1 rem;
    border:2px solid  #B6EADA;
    background:transparent ;
    color: #B6EADA;
}
.header3:hover{
    background: #B6EADA ;
    color: black;
}
.flex1{
    flex:1;
}
.hero{
    padding: 3rem 0;
}
section{
    padding:6rem 0;
    align-items:center;
}
.edit{
     border-radius: 8px;
     border:  5px solid #B6EADA ;
}
.SECOND{
    margin-bottom:1rem;
    font-size:1.6rem;
    font-weight: 400;
    color: #03001C;
}
H1 SPAN{
    color: #040404;
}
h3{
    font-size: 1REM;
    margin-bottom: 1REM;
    font-weight: 400;
}
.P2{
    line-height: 1.9;
    margin-bottom: 2rem;
}
.social{
    display: flex;
}
.social a{
    justify-content: center;
align-items:center;
    margin-right: 30px;
    display: flex;
}
.section-heading{
    color:#8ee6f6;
    text-align:center;
    margin-bottom:1 rem;
    line-height: 0.5rem;
}
.section-heading+p{
    color:#8395e7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom:1 rem;
    text-align:center;
}
.pic1{
    width:100%;
    height:400px;
    clip-path: polygon(0 0,100% 0,100% 100%,70% 80%,0 100%);
    border-top: solid #03001C;
    margin: 10px 10px;
}
section.services{
    background:#03001C;
    border-radius: 20px;
    margin: 30px 30px;
}
.card-single{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap:1rem;
    background: #ffffff;
    margin:20px;
    border-top: #3a65d9;
    
}
.new{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background:#ffffff;
   
}
.contact-container{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    GAP:20px;
}
.contact-left-title h2{
   font-weight:600;
   color:#1800f0;
   font-size:40px;
   margin-bottom: 5px;
}
.contact-left-title hr{
border:none ;
width:120px;
height:5px;
background-color: #1800f0;
border-radius: 10px;
margin-bottom:20px;
}
.contact-input{
    width:400px;
    height:50px;
    border:solid 2px #5ba8f6 ;
    outline:none;
    padding-left:25px;
    font-weight:500;
    color:rgb(132, 208, 255);
    border-radius:50px;
}
.contact-left textarea{
    height:140px;
    padding-top: 15px;
    border-radius:20px;
    
}
.contact-input:focus{
    border:2px solid #1800f0;
}
.contact-left button{
    display:flex;
    align-items: center;
    padding:15px 30px;
    color:#ffffff;
    gap:10px;
    border:solid 2px #03001C;
    border-radius: 50px;
    background-color: #5ba8f6;
    font-size: large;

}